@page
@model UMLRazor.Pages.Orders.CreateOrderModel
@{
    ViewData["Title"] = "Create Order";
}
<h1>Select Customer</h1>

<form method="post" asp-page-handler="Customer">
<p>
    Mobile : <input type="text" asp-for="SearchCustomerMobile" />
    <input type="submit" value="Search customer" />
</p>
</form>

@{
    if( @Model.TheCustomer != null)
    {
        <h3>@Model.TheCustomer.Name</h3>
        <h3>@Model.TheCustomer.Mobile</h3>
    }

}


<h1>Add MenuItem to Order</h1>
<form method="post" asp-page-handler="AddToOrder">
    <label>MenuItems</label>
    <select id="ChosenMenuItem" name="ChosenMenuItem"  
        asp-for="@Model.ChosenMenuItem"
        asp-items="@Model.MenuItemSelectList">

    </select>
    <input type="number" asp-for="@Model.Amount" />
    <textarea asp-for="@Model.Comment" cols="120">
    </textarea>
    <input type="submit" value="AddToOrder" />
</form>