@page
@model UMLRazor.Pages.CompanyInfo.ChangeCompanyInfoModel
@{
    ViewData["Title"] = "CompanyInfo";
}

<h1>Change Companyinfo</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">

            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label"></label>
                <input asp-for="@Model.Name" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="@Model.Mobile" class="control-label"></label>
                <input asp-for="@Model.Mobile" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Vat" class="control-label"></label>
                <input asp-for="@Model.Vat" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.CVR" class="control-label"></label>
                <input asp-for="@Model.CVR" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.ClubDiscount" class="control-label"></label>
                <input asp-for="@Model.ClubDiscount" class="form-control" />
            </div>
            <div class="formgroup">
                <input type="submit" value="Change/Add info" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
        <a asp-page="/Index">Home</a>
    </div>
</div>
